<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="google-site-verification" content="3WujPQ31psszBWWagcwEXBhSUGSZreEvBe4ax5T1i2E" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Authenticate</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet" />

    <style>
        * {
            font-family: "Montserrat", sans-serif;
        }
        
        .google {
            margin-left: 630px;
            margin-bottom: 100px;
            margin-top: 80px;
        }
        
        .title {
            font-family: "Montserrat", sans-serif;
        }
        
        .github {
            margin: 0 auto;
            color: #111
        }
    </style>
</head>

<body>
    <h1 class="text-xl font-black my-9 text-center mx-auto title">
        Authenticate to start using
    </h1>
    <div class="row">
        <div class="col-md-12 google">
            <a class="btn btn-outline-dark" href="/auth/google/" role="button" style="text-transform:none">
                <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" /> Login with Google
            </a>
        </div>
    </div>
    <!--Github-->
    <a id="github-button" class="btn btn-block btn-social btn-github github" href="/auth/github/">
        <i class="fa fa-github"></i> Login with GitHub
    </a>


    <!-- Minified CSS and JS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>

    <script src="https://use.fontawesome.com/a780df76b3.js"></script>
</body>

</html>
