<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>

    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-S05P8DQL22"
    ></script>

    <!--    Vue CDN-->
    <script src="https://unpkg.com/vue@next"></script>
  </head>
  <body>
    <h1>Login to your account</h1>
    <form action="/login" method="POST">
      <div>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required />
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required />
      </div>
      <button type="submit">Login</button>
    </form>

    <h3>Don't have an account?</h3>

    <a href="/register"> Register here</a>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.2.0/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/8.2.0/firebase-analytics.js"></script>

    <script>
      // Your web app's Firebase configuration
      // For Firebase JS SDK v7.20.0 and later, measurementId is optional
      var firebaseConfig = {
        apiKey: "AIzaSyDfeNY1i-cJ5hnvUIH05b2srGH8Q61z-MQ",
        authDomain: "short-shortnner-7112b.firebaseapp.com",
        projectId: "short-shortnner-7112b",
        storageBucket: "short-shortnner-7112b.appspot.com",
        messagingSenderId: "28013134812",
        appId: "1:28013134812:web:534e5c9b3aaf1a8077c519",
        measurementId: "G-9M5NKCR0GN",
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);
      firebase.analytics();
    </script>
  </body>
</html>
